<div class="container2">
  <div class="item-left2">
    <div class="card">
      <img src="../../assets/image 59.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-title">Explore</h2>
        <p class="card-text">
          Give learners a chance to discover the best career options in one
          location with training institutions and recognized universities.
        </p>
      </div>
    </div>
  </div>
  <div class="item-right2">
    <div class="card">
      <img
        src="../../assets/wepik-photo-mode-202286-13228 1.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2 class="card-title">Connect</h2>
        <p class="card-text">
          Connect with learners looking for the appropriate fit by bringing
          thousands of institutions and knowledge partners together on a single
          platform.
        </p>
      </div>
    </div>
  </div>
  <div class="item-right2">
    <div class="card">
      <img
        src="../../assets/digital-service2 1.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h2 class="card-title">Learn</h2>
        <p class="card-text">
          Engage in collaboration with reputable institutions to assist learners
          in learning and acquiring new skills to achieve various career goals.
        </p>
      </div>
    </div>
  </div>
</div>
