<div class="header" id="myHeader">
  <nav>
    <div class="wrapper">
      <img
        class="logo"
        style="width: 20%"
        src="../assets/finallogo.b6ff2b025f202f1e1fbaed00e9f5708b.svg"
        alt=""
      />

      <input type="radio" name="slider" id="menu-btn" />
      <input type="radio" name="slider" id="close-btn" />
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"
          ><i class="bi bi-x-lg"></i>
        </label>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li>
          <a href="#" class="desktop-item">Find an Institute</a>
          <input type="checkbox" id="showDrop" />
          <label for="showDrop" class="mobile-item">List</label>
          <ul class="drop-menu">
            <li><a href="#">Drop menu 1</a></li>
            <li><a href="#">Drop menu 2</a></li>
            <li><a href="#">Drop menu 3</a></li>
            <li><a href="#">test menu</a></li>
          </ul>
        </li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"
        ><i class="bi bi-list"></i></label
      >
    </div>
  </nav>
</div>
