<div class="item8">
  <div class="container">
    <div class="row item7">
      <div class="col">
        <img class="item2321" src="../../assets/download (4).png" alt="" />
        <div class="item2329">Explore x Connect x Learn</div>
        <div class="item2330">
          <a class="item2331" href=""><i class="item2332 fa-2x bi bi-facebook"></i></a>
          <a class="item2331" href=""><i class="item2332 fa-2x bi bi-twitter"></i></a>
          <a class="item2331" href=""><i class="item2332 fa-2x bi bi-instagram"></i          ></a>
          <a class="item2331" href=""><i class="item2332 fa-2x bi bi-linkedin"></i></a>
          <a class="item2331" href=""><i class="item2332 fa-2x bi bi-youtube"></i></a>
        </div>
      </div>
      <div class="col item2322"></div>
      <div class="col item2323 item2327">
        About Us
        <div class="item2333">
          <ul class="item2334">
            <li><a class="item2335" href="">Why Edxplore</a></li>
            <li><a class="item2335" href="">Partner with Us</a></li>
            <li><a class="item2335" href="">Contact Us</a></li>
            <li><a class="item2335" href="">FAQ's</a></li>
          </ul>
        </div>
      </div>
      <div class="col item2324 item2327">
        Explore
        <div class="item2333">
          <ul class="item2334">
            <li><a class="item2335" href="">Top Institutes</a></li>
            <li><a class="item2335" href="">Popular Courses</a></li>
            <li><a class="item2335" href="">Blogs</a></li>
            <li><a class="item2335" href="">News and Stories</a></li>
            <li><a class="item2335" href="">Advertise with us</a></li>
          </ul>
        </div>
      </div>
      <div class="col item2325 item2327">
        Categories
        <div class="item2333">
          <ul class="item2334">
            <li><a class="item2335" href="">Information Technology</a></li>
            <li><a class="item2335" href="">Banking & Finance</a></li>
            <li><a class="item2335" href="">Management</a></li>
            <li><a class="item2335" href="">Learning & Development</a></li>
            <li><a class="item2335" href="">Creative & Performing Arts</a></li>
            <li><a class="item2335" href="">Sports & Fitness</a></li>
            <li><a class="item2335" href="">Aviation</a></li>
          </ul>
        </div>
      </div>
      <div class="col item2325 item2327">
        <div class="item2333">
          <ul class="item2334 item2336">
            <li><a class="item2335" href="">Digital Marketing</a></li>
            <li><a class="item2335" href="">Interior Designing</a></li>
            <li><a class="item2335" href="">Fashion Designing</a></li>
            <li><a class="item2335" href="">Hotel Management</a></li>
            <li><a class="item2335" href="">Multimedia</a></li>
            <li><a class="item2335" href="">Alligned Health Science</a></li>
            <li><a class="item2335" href="">Engineering</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
