<div class="container2">
  <div class="item-right2">
    <div class="container-xxl">
      <p class="item232">EdXplore</p>
      <h2 class="item233">Top Courses</h2>
      <p class="item234">
        Get unlimited access to 1,000+ courses in top categories, hands-on
        projects, and job-ready certificate programs to grow your career.
      </p>
      <div class="container1">
        <a href="">Digital Marketing</a>
        <a href="">Journalism</a>
        <a href="">Fashion Designing</a>
        <a href="">Banking & Finance</a>
        <a href="">Multimedia</a>
        <a href="">Hotel Management</a>
        <a href="">Aviation</a>
        <a class="submit" id="ExploreAllBtn" href="">Submit</a>
      </div>

      <div>
        <div class="row">
          <div class="col-4">
            <div class="card bg-dark text-white">
              <img
                src="../../assets/1669284134_InstituteImg.208121a90ef1a53c5400.jpg"
                class="card-img"
                alt="..."
              />
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card bg-dark text-white">
              <img
                src="../../assets/1669288345_red-buildings-households (1).jpg"
                class="card-img"
                alt="..."
              />
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card bg-dark text-white">
              <img
                src="../../assets/finallogo.b6ff2b025f202f1e1fbaed00e9f5708b.svg"
                class="card-img"
                alt="..."
              />
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </div>
          </div>
        </div>

        <button id="myBtn">View all courses</button>
      </div>
    </div>
  </div>
</div>
