
<div class="wrapper"></div>
<div class="row iten3345">
    <div class="col">
        <div class="row">
            <div class="col-3"><i class="bi bi-tv"></i></div>
            <div class="col-7">Digital Marketing</div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-3"><i class="bi bi-tv"></i></div>
            <div class="col-7">Software Testing</div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-3"><i class="bi bi-tv"></i></div>
            <div class="col-7">SAP</div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-3"><i class="bi bi-tv"></i></div>
            <div class="col-7">Sports</div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-3"><i class="bi bi-tv"></i></div>
            <div class="col-7">Fashion</div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-3"><i class="bi bi-tv"></i></div>
            <div class="col-7">Cloud Tech</div>
        </div>
    </div>
</div>