<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-6 subscribe">
        <h2 class="item233">Subscribe to our Newsletter</h2>
        <p class="item234">Get Events & News Updates</p>
        <input type="text">
        <button type="submit">Submit</button>
      </div>
      <div class="col-6 item4444">
        <img src="../../assets/pngtree-cartoon-home-study-illustration-background-picture-image_1140624-removebg-preview.png" alt="" />
      </div>
    </div>
  </div>
</div>
