<div class="row">
  <div class="column1">
    <div class="card">
      <div class="item3242">
        <p class="item232">About Us</p>
        <h2 class="item233">EdXplore</h2>
        <p class="item234">
          Edxplore is the global skill learning platform that offers learners
          access to online/Offline courses and certifications from top
          institutes,knowledge partners and companies.
        </p>
      </div>

      <div class="row">
        <div class="col">
          <div class="row colo">
            <div class="col-sm-2"><i class="bi bi-building-fill-lock myicon fa-2x"></i></div>
            <div class="col-sm-10">
              <a href=""
                >Easy access to thousand plus institutes and courses from
                various domains</a
              >
            </div>
          </div>
        </div>
        <div class="col ">
          <div class="row colo">
            <div class="col-sm-2 "><i class="bi bi-building-fill-lock myicon fa-2x"></i></div>
            <div class="col-sm-10">
              <a href=""
                >Easy access to thousand plus institutes and courses from
                various domains</a
              >
            </div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col ">
          <div class="row colo">
            <div class="col-sm-2"><i class="bi bi-building-fill-lock myicon fa-2x"></i></div>
            <div class="col-sm-10">
              <a href=""
                >Easy access to thousand plus institutes and courses from
                various domains</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row colo">
            <div class="col-sm-2"><i class="bi bi-building-fill-lock myicon fa-2x"></i></div>
            <div class="col-sm-10">
              <a href=""
                >Easy access to thousand plus institutes and courses from
                various domains</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <img src="../../assets/AboutUs4 (1).712e3e5ffe94672932e9.png" alt="" />
    </div>
  </div>
</div>
