<div class="wrapper">
  <div class="">
    <div class="row item6669">
      <div class="col item6666">
        <img
          class="item6673"
          src="../../assets/Hotels-to-attract-Indian-Millennials-1400x480.png"
          alt=""
        />
      </div>
      <div class="col item6667 ">
        <div class="item6671">
          <h3>To know more about featured institutes in your city</h3>
          <button type="submit">Submit</button>
        </div>
      </div>
      <div class="col item6666">
        <img
          class="item6672"
          src="../../assets/Hotels-to-attract-Indian-Millennials-1400x480.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
