
.row{
  
  color: white;
  text-align: center;
  display: flex;
  margin: 0;
}

img{
  width: 100%;
}

button{
  padding: 10px 50px;
  background-color: yellow;
  color: black;
  border: thin solid black;
  border-radius: 5px;
}

.item6667{
  background-color: rgb(6, 6, 60);
}
