<div class="container2 item930">
  <div class="item-right2 item931">
    <div class="container-xxl item932">
      <p class="item232">EdXplore</p>
      <h2 class="item233">Featured Institutes</h2>
      <p class="item234">
        Get in touch with the Best Verified Institutes in India and pick the one
        that best fits your professional objectives.
      </p>
      <div class="row item933">
        <div class="col item934">
            <div class="row item935"><img class="item938" src="../../assets/1669284134_InstituteImg.208121a90ef1a53c5400 2.jpg" alt=""></div>
            <div class="row item936"><img class="item939" src="../../assets/1669262809.png" alt="" ></div>
            <a class="item937" href="">Quality Engineers</a>
          <div class="row item3113">
            <div class="col item3114"> <h4 class="item941"> Digital Marketing </h4></div>
            <div class="col item3114"> <h4 class="item942" > Course </h4></div>
          </div>
          <div class="row item3113">
            <div class="col item3114"> <h6 class="item943"> View all courses and Feees </h6></div>
            <div class="col item3114"> <h4 class="item944" ><i class="bi bi-arrow-right-circle"></i></h4></div>
          </div>
          <div class="row item3113" style="  background-color: #ffca08;">
            <div class="col item3114"> <h6 class="item958"> View more </h6></div>
            <div class="col item3114"> <h4 class="item944" ><i class="bi bi-arrow-right-circle"></i></h4></div>
          </div>

        </div>
        <div class="col item947"  >
            <div class="row item948"><img class="item951" src="../../assets/1669284134_InstituteImg.208121a90ef1a53c5400 2.jpg" alt=""></div>
            <div class="row item949"><img class="item952" src="../../assets/1669262809.png" alt="" ></div>            
            <a class="item937" href="">Quality Engineers</a>
            
            <div class="row item3113">
                <div class="col item3114"> <h4 class="item954"> Digital Marketing </h4></div>
                <div class="col item3114"> <h4 class="item955" > Course </h4></div>
              </div>
              <div class="row item3113">
                <div class="col item3114"> <h6 class="item956"> View all courses and Feees </h6></div>
                <div class="col item3114"> <h4 class="item944" ><i class="bi bi-arrow-right-circle"></i></h4></div>
              </div>
              <div class="row item3113" style="  background-color: #ffca08;">
                <div class="col item3114"> <h6 class="item958"> View more </h6></div>
                <div class="col item3114"> <h4 class="item944" ><i class="bi bi-arrow-right-circle"></i></h4></div>
              </div>
          </div>
        <div class="col item960" >
            <div class="row item961"><img class="item964" src="../../assets/1669284134_InstituteImg.208121a90ef1a53c5400 2.jpg" alt=""></div>
            <div class="row item962"><img class="item965" src="../../assets/1669262809.png" alt="" ></div>            
            <a class="item937" href="">Quality Engineers</a>
            <div class="row item3113">
                <div class="col item3114"> <h4 class="item967"> Digital Marketing </h4></div>
                <div class="col item3114"> <h4 class="item968" > Course </h4></div>
              </div>
              <div class="row item3113">
                <div class="col item3114"> <h6 class="item969"> View all courses and Feees </h6></div>
                <div class="col item3114"> <h4 class="item944" ><i class="bi bi-arrow-right-circle"></i></h4></div>
              </div>
              <div class="row item3113" style="  background-color: #ffca08;">
                <div class="col item3114"> <h6 class="item958"> View more </h6></div>
                <div class="col item3114"> <h4 class="item944" ><i class="bi bi-arrow-right-circle"></i></h4></div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
