<div class="wrapper">
  <div class="container">
    <p>EdXplore</p>
    <h3>Trusted by</h3>
    <div class="row">
        <div class="col-2">
          <img src="../../assets/A.1c24c61b40dafee7acb8.png" alt="" />
        </div>
        <div class="col-2">
          <img src="../../assets/B.eb85f602731319bc1587.png" alt="" />
        </div>
        <div class="col-2">
          <img src="../../assets/C.f824554ae5b7c48ab426.png" alt="" />
        </div>
        <div class="col-2">
          <img src="../../assets/D.57d7a95aa35f2121b62f.png" alt="" />
        </div>
        <div class="col-2">
          <img src="../../assets/E.fac4c99fcafc263cef9d.png" alt="" />
        </div>
        <div class="col-2">
          <img src="../../assets/F.4ba7de2080836de2e8f1.png" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <img src="../../assets/G.ab00f15a1801a75ca154.png" alt="" />
        </div>
        <div class="col-2">
          <img src="../../assets/H.9e092e609e686ae8c21f.png" alt="" />
        </div>
        <div class="col-2">
          <img src="../../assets/I.b878a9ee00361f7c674f.png" alt="" />
        </div>
        <div class="col-2">
          <img src="../../assets/J.546deacd2b4ac093274c.png" alt="" />
        </div>
        <div class="col-2">
          <img src="../../assets/K.adb69acb8f2aed478818.png" alt="" />
        </div>
        <div class="col-2">
          <img src="../../assets/L.fefe63bb6be85ad553c8.png" alt="" />
        </div>
      </div>
        
  </div>

</div>
