<app-header></app-header>
<app-banner></app-banner>
<app-pillers></app-pillers>
<app-card-deck></app-card-deck>
<app-ed-xplorecertificate></app-ed-xplorecertificate>
<app-featuredcourses></app-featuredcourses>
<app-enter> </app-enter>
<app-ed-xplorecertificate2></app-ed-xplorecertificate2>
<app-topcategories></app-topcategories>
<app-creative></app-creative>
<app-sponsorship></app-sponsorship>
<app-reviews></app-reviews>
<!-- <app-courses></app-courses> -->
<app-subscriptionbanner></app-subscriptionbanner>
<app-footer></app-footer>
<app-copyright> </app-copyright>

