<div class="container">
  <div class="row">
    <div
      class="MultiCarousel"
      data-items="1,2,3,4"
      data-slide="1"
      id="MultiCarousel"
      data-interval="1000"
    >
      <div class="MultiCarousel-inner">
        <div class="item">
          <div class="card" style="width: 25rem">
            <p class="card-text">
                Lorem ipsum dolor sit ameccce wct, consectetur adipiscing
                elihjbc sut. Pharetra, nec arcu mauris sjhcuyu ullamcorper
                semper amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, officia. Nobis eius voluptas atque sunt vitae totam dolorem ut, quidem, minus, voluptatibus nesciunt. Optio fugiat .
              </p>


            <div class="card-body">
                <div class="rating">
                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                  </div> 
    
              <h5 class="card-title"> Karan Malhotra</h5>
              <p class="card-text">Student, BBA</p>
              <img  src="../../assets/image 59.png" class="card-img-top" alt="..." />
              
            </div>
          </div>
        </div>
        <div class="item">
          <div class="card" style="width: 25rem">
            <p class="card-text">
                Lorem ipsum dolor sit ameccce wct, consectetur adipiscing
                elihjbc sut. Pharetra, nec arcu mauris sjhcuyu ullamcorper
                semper amet. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius exercitationem est asperiores itaque provident voluptatum sit culpa blanditiis totam natus! Architecto quaerat suscipit exercitationem.
              </p>


            <div class="card-body">
                <div class="rating">
                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                  </div> 
    
                <h5 class="card-title">Kelly Myer</h5>
              <p class="card-text">Student, BBA</p>
              <img src="../../assets/image 59.png" class="card-img-top" alt="..." />
              
            </div>
          </div>
        </div>

        <div class="item">
          <div class="card" style="width: 25rem">
            <p class="card-text">
                Lorem ipsum dolor sit ameccce wct, consectetur adipiscing
                elihjbc sut. Pharetra, nec arcu mauris sjhcuyu ullamcorper
                semper amet. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure odit, reprehenderit corporis quidem omnis assumenda soluta autem laboriosam, molestias eveniet ad officia pariatur distinctio dignissimos 
              </p>


            <div class="card-body">
                <div class="rating">
                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                  </div> 
    
              <h5 class="card-title">Zachary Collins</h5>
              <p class="card-text">Student, BCA</p>
              
            </div>
            <img src="../../assets/image 59.png" class="card-img-top" alt="..." />
        </div>
        </div>
        <div class="item">
          <div class="card" style="width: 25rem">
            <p class="card-text">
                Lorem ipsum dolor sit ameccce wct, consectetur adipiscing
                elihjbc sut. Pharetra, nec arcu mauris sjhcuyu ullamcorper
                semper ame. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi molestias alias odit dolorem dicta ipsa nobis rem iste. Quibusdam dignissimos dicta vitae quia nemo rerum sit perferendis amet esse et?
              </p>
                  

            <div class="card-body">
                <div class="rating">
                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                  </div> 
              <h5 class="card-title">Abby Smith</h5>
              <p class="card-text">Student, MCA</p>
              <img src="../../assets/image 59.png" class="card-img-top" alt="..." />
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary leftLst"><</button>
      <button class="btn btn-primary rightLst">></button>
    </div>
  </div>
</div>
