<div class="wrapper">
  <div class="container-xxl">
    <h1>Top Categories</h1>

      <a class="coursestop" href=""> <i class="bi icon bi-laptop fa-x"></i> Digital Marketing</a>
      <a class="coursestop" href=""> <i class="bi icon bi-laptop fa-x"></i> Software Testing</a>
      <a class="coursestop" href=""> <i class="bi icon bi-laptop fa-x"></i> SAP</a>
      <a class="coursestop" href=""> <i class="bi icon bi-laptop fa-x"></i> Sports</a>
      <a class="coursestop" href=""> <i class="bi icon bi-laptop fa-x"></i> Fashion</a>
      <a class="coursestop" href=""> <i class="bi icon bi-laptop fa-x"></i> Cloud Tech</a>
 
  </div>
</div>
