<div class="container">
  <div class="row">
    <div
      class="MultiCarousel"
      data-items="1,2,3,4"
      data-slide="1"
      id="MultiCarousel"
      data-interval="1000"
    >
      <div class="MultiCarousel-inner">
        <div class="item">
          <div class="card" style="width: 25rem">
            <img class="card-img-top" src="../../assets/Rectangle 65.png" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">M.B.A</h5>
              <p class="card-text">
                Lorem ipsum dolor sit ameccce wct, consectetur adipiscing elihjbc sut. Pharetra, nec arcu mauris sjhcuyu ullamcorper semper amet
                
              </p>
              <div class="row">
                <div class="col">
                    <div class="row ">
                        <div class="col-2"><i class="bi bi-clock"></i></div>
                        <div class="col-10">2 Years</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row ">
                        <div class="col-2"><i class="bi bi-phone"></i></div>
                        <div class="col-10">Online/Offline</div>
                    </div>
                </div>
              </div>

              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="item">
            <div class="card" style="width: 25rem">
              <img class="card-img-top" src="../../assets/Rectangle 67.png" alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title">M.C.A</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit ameccce wct, consectetur adipiscing elihjbc sut. Pharetra, nec arcu mauris sjhcuyu ullamcorper semper amet
                  
                </p>
                <div class="row">
                    <div class="col">
                        <div class="row ">
                            <div class="col-2"><i class="bi bi-clock"></i></div>
                            <div class="col-10">2 Years</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row ">
                            <div class="col-2"><i class="bi bi-phone"></i></div>
                            <div class="col-10">Online/Offline</div>
                        </div>
                    </div>
                  </div>
        
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
  
        <div class="item">
          <div class="card" style="width: 25rem">
            <img class="card-img-top" src="../../assets/Rectangle 69.png" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">B.Tech</h5>
              <p class="card-text">
                Lorem ipsum dolor sit ameccce wct, consectetur adipiscing elihjbc sut. Pharetra, nec arcu mauris sjhcuyu ullamcorper semper amet
                
              </p>
              <div class="row">
                <div class="col">
                    <div class="row ">
                        <div class="col-2"><i class="bi bi-clock"></i></div>
                        <div class="col-10">2 Years</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row ">
                        <div class="col-2"><i class="bi bi-phone"></i></div>
                        <div class="col-10">Online/Offline</div>
                    </div>
                </div>
              </div>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="card" style="width: 25rem">
            <img class="card-img-top" src="../../assets/Rectangle 71.png" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title">B.Design</h5>
              <p class="card-text">
                Lorem ipsum dolor sit ameccce wct, consectetur adipiscing elihjbc sut. Pharetra, nec arcu mauris sjhcuyu ullamcorper semper amet
                
              </p>
              <div class="row">
                <div class="col">
                    <div class="row ">
                        <div class="col-2"><i class="bi bi-clock"></i></div>
                        <div class="col-10">2 Years</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row ">
                        <div class="col-2"><i class="bi bi-phone"></i></div>
                        <div class="col-10">Online/Offline</div>
                    </div>
                </div>
              </div>

              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary leftLst"><</button>
      <button class="btn btn-primary rightLst">></button>
    </div>
  </div>
</div>
